html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
  order: -1;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 1rem;
}

a:hover {
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
}

nav a {
  color: #0074d9;
  font-size: 1.125rem;
}

header {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header p {
  padding: 1rem;
}

header img {
  align-self: auto;
}

header h1 {
  gap: 1rem;
}
